
body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    font-family: 'Fredoka', sans-serif;
    color: #485664;
}

/* primary Color: #00a6eb  */
/* secondary Color: #485664; */

header{
    background-color: white;
    height: 70px;
}
header div{
    display: inline-block;
}

header .logo{
    float: left;
    width: 30%;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    color: #00a6eb;
    padding: 20px 0 0 40px;
    font-size: 24px;

}
header .nav ul li{
    list-style-type: none;
}
ul{
    padding: 0px;
    margin: 6px 0px;
    font-family: 'Fredoka', sans-serif;
   
}

li{
    display: inline-block;
    margin: 20px 20px;
}

li a{
    text-decoration: none;
    color: #485664;
    font-size: 16px;
}

li a:hover, .active{
    color: #00a6eb;
}

header .click{
    float:right;
    width: 20%;
}
.click{
    box-sizing: border-box;
    margin: 14px 32px;
}
.btn{
    background-color: #00a6eb;
    color: whitesmoke;
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    padding: 10px 35px;
    margin:2px;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: #485664;
}

/* ----------------------------Main Section----------------------- */
h1{
    font-size: 22px;
    
}
h2{
    font-size: 16px;
    font-weight: 300;
}

main{
    margin: 0px;
    padding: 0px;
}
main div, .container{
    /* border: solid 2px red; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    display: inline;
    padding-top: 100px;
    width: 50%;
    height: 600px;
    float: left;
    text-align: center;
    box-sizing: border-box;
}

.right div{
    display: inline;
    width: 50%;
    height: 600px;
    float: right;
}
img{
    height: 80%;
    width: 80%;
    display: block;
    margin-top: 10%;
    margin-left: 10%;
}
.container input{
    display: block;
}

#email, #query{
    margin: 20px 100px;
    padding: 20px 150px;
    text-align: center;
    background-color: white;
    border: 1px solid #4856642a;
    border-radius: 15px;
    outline: none;
}

.container .btn{
    margin:25px 234px;
}

#ip{
    padding-top: 20px;
}

#divider{
    width: 100%;
    height: 5px;
    background-color: #00a6eb;
    display: block;
    float: none;
    position: absolute;

}